.row {
  display: flex;
  flex-direction: column;
  margin: auto auto 10px auto;
}

.message-row {
  display: inline-flex;
  flex-direction: row;
}

.message-container {
  width: 500px;
  height: 40px;
  padding: 10px;
  background-color: #e0dada;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  flex: 1;
  border-radius: 10px;
}

.message {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.message-content {
  flex: 1;
}

.message-icon {
  position: relative;
  top: 15px;
}

.message-icon:first-child {
  margin-right: 5px;
}

.avatar {
  margin: auto 20px 10px 10px;
}

.timestamp {
  text-align: right;
  font-size: smaller;
}

.arrow {
  position: relative;
  background: #e0dada;
}
.arrow:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #e0dada;
  border-width: 10px;
  margin-top: -10px;
}
